<div class="reset-password-container">
  <mat-card class="reset-password-card">
    <h2 class="title">Reset Password</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="resetForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="resetForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <!-- New Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')">
          Minimum 6 characters
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="resetForm.hasError('mismatch')">
          Passwords do not match
        </mat-error>
        <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
          Confirm Password is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Reset Password
      </button>
    </form>
  </mat-card>
</div>
